.letter {
  background-color: #dd93a4;
  border-radius: 15px;
  text-transform: uppercase;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
}

.letter > .letter{
  background-color: transparent;
  display: flex;
  justify-content: center;
  padding-top: 4%;
}