.search {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 30px;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 5px;
}

.search input {
  background-color: #8d515c;
  border: 0px;
  border-radius: 15px 0px 0px 15px;
  color: #DD93A4;
  width: 355px;
  height: 60px;
  text-align: center;
  font-weight: 600;
  padding-left: 15%;
}

.search input:focus{
  outline: none;
  caret-color: transparent;
}

.search input::placeholder{
  color: #DD93A4;
  text-transform: uppercase;
  text-align: center;
  padding-right: 15%;
}

.searchTerm {
  outline: none;
  box-sizing: border-box;
}

.searchTerm:focus {
  outline: 0;
}

.searchButton {
  background-color: #8d515c;
  border: 0px;
  border-radius: 0px 15px 15px 0px;
  color: #DD93A4;
  box-sizing: border-box;
  width: 60px;
}

.searchButton:focus {
  outline: 0;
}

.searchButton i:active {
  position: relative;
  top: 1px;
}

