.clock-app {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}

.clock {
  color: #6f2232;
  background: #dd93a4;
  font-size: 36px;
  font-weight: 900;
  height: 50px;
  width: 210px;
  border: 0px;
  border-radius: 15px;
  cursor: pointer;
  outline: 0;
  text-transform: uppercase;
}

.clock-numbers{
  display: flex;
  justify-content: center;
  padding-top: 8.5%;
}

.clock:hover {
  background: linear-gradient(to bottom, #ffa851 5%, #d88635 100%);
}
